<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Home</h1>
    <p>
        <a href="/register">
            <button class="btn btn-primary" type="submit">Register</button>
        </a>
        <br />
        <a href="/login">
            <button class="btn btn-success" type="submit">Login</button>
        </a>

    </p>
</body>

</html>
